header#header.site-nav(role='banner')
    .container
        .header-wrapper
          h1.site-logo
            a.logo(href='/')
              include ../public/images/ayberk-akici-logo.svg
              span.hide-text AYBERK AKICI
              span FRONT-END DEVELOPER
          h4.motto-text
            | "I create user-friendly, well crafted front-end experiences with strong focus on usability, performance and maintainability."
nav.sub-menu
    .container
        ul
            li.text-left
                a#contact(href='/#contact') CONTACT
            li.text-center
                a(href='/works') MY WORKS
            li.text-right
                a#go-links(href='/#personal-links') LINKS