extends layout

block content
  .content.box-shadow  
    .photo-wrapper-resume
      img.img-responsive(src="/images/ayberk-akici-portrait.jpg", alt="Ayberk Akıcı", title="Ayberk Akıcı")
    h2.greetings Hi there, I'm Ayberk
    p
      | I am a front-end developer located in Berlin, Germany. I have four years of professional (and more as hobby) experience in developing various scales of websites and web-applications based on web technologies including HTML, CSS and JavaScript. I am passionate about writing modular, reusable and well organized, clean code for efficient and accessible software by following cutting-edge technologies and applying best practices.
    hr
    h2.line
      span.icon.big
        include ../assets/svg/briefcase.svg
      | WORK EXPERIENCE

    h3 Front End Developer
    h4 Watchmaster, Berlin
    h5.italic March 2016 - Present
    ul
      li Implement new features and improve insufficent parts according to the business needs using HTML, CSS &amp; JavaScript to enable optimum user experience throughout the Watchmaster Shop
      li Use AngularJS ecosystem for building UI components, enabling user interactivity, as well as RESTful services to create dynamic elements. 
      li Create modular Laravel Blade templates based on the visual mock-ups, by writing clean, semantic HTML code and using responsive Bootstrap grids
      li Generate reusable, component based CSS code using SASS with BEM methodology
      li Develop ReactJS app with Redux using ES6/ES2015 standards, Webpack and Babel
      li Use Gulp workflow to automatize tasks and generate build files for AngularJS app
      li Ensure Cross browser compatibility and hence functionality on mobile and different browsers.
      li Code contribution and version control via Git workflow
      li Involve in Agile methodology sprint planning meetings to set goals, allocate responsibilites and daily Scrum meetings to coordinate with the team members, discuss the overall progress.
      li Fix bugs by resolving assigned JIRA tasks and assist QA team in carrying out troubleshooting 
      li Designed and developed multiple versions of landing pages to support marketing activities

    br

    h3 Front End Developer
    h4 Solid-ICT, İstanbul
    h5.italic April 2014 - February 2016
    ul
      li Converted visual mock-ups into clean, solid HTML and CSS markup which are cross-browser compatible and SEO friendly
      li Wrote object-oriented, modular, resuable JavaScript code that communicates with internal and external RESTful API’s via AJAX and JSON
      li Developed single page web apps utilizing Backbone.js, Handlebars.js and Require.js
      li Automated repetitive tasks such as SASS compiling, various optimization tasks and dependency management using Grunt/Gulp, managed dependecies via NPM and Bower
      li Wrote Java tags in Thymeleaf templating engine
      li Debugged applications using debugging tools and performed browser tests
      li Used command line for GIT workflow and NPM package manager
      li Used Agile &amp; Scrum methodologies
      li Coded email templates using HTML and performed email client tests
      li Visualized data using D3.js based on SVG, created simple animations with HTML5 Canvas API

    br

    h3 Web Designer &amp; Developer
    h4 Han Ajans, Ankara
    h5.italic July 2013 - March 2014
    ul
      li Designed and developed corporate websites for small to medium sized businesses utilizing HTML, CSS and added interactivity with jQuery library
      li Engaged directly with clients during project planning phase, exploring user profiles and scenarios, wireframing, and prototyping of core project experiences
      li Implemented open-source content management systems such as Drupal and WordPress according to administrative needs
      li Customized and developed Drupal themes based on sub-themes utilizing HTML and CSS in the light of visual designs and prototypes
      li Administered Google Adwords SEM campaign on a clients behalf by setting measurable goals, and tracking trends and metrics in Google Analytics
    
    br
    
    h3 Web Designer &amp; Developer
    h4 Freelancer
    h5.italic October 2011 - August 2012, June 2013 - April 2014
    ul
      li Worked with small/medium sized business owners to create or redevelop their web presence as well as with creative agencies as their web solutions partner
      li Developed web sites using various Content Management Systems like Drupal and WordPress, implemented appropriate CMS modules according requirements, themed semantically with HTML, CSS and added interactivity with jQuery
      li Involved in all phases of a web project from planning to testing and once completed, its maintenance
    hr
    h2.line
      span.icon.big
        include ../assets/svg/education.svg
      | EDUCATION
    h3 Master of Science in Information Technologies
    h4 Başkent University, Ankara
    h5.italic August 2011
    
    br

    h3 Bacholer of Science in Actuarial Science
    h4 Hacettepe University, Ankara
    h5.italic February  2008
    hr
    h2.line
      span.icon.big
        include ../assets/svg/diploma.svg
      | CERTIFICATES
    h3 Advanced JavaScript Essentials
    h4 O’Reilly School of Technology
    h5.italic August 2015
    
    br

    h3 Web Application Architectures
    h4 University of New Mexico on Coursera
    h5.italic April 2015
    
    br

    h3 Internet History, Technology, and Security
    h4 University of Michigan on Coursera
    h5.italic April 2014
    
    br

    h3 TOEFL IBT
    h4 ETS
    h5.italic June 2008
    hr
    h2.line
      span.icon.big
        include ../assets/svg/skills.svg
      | TECHNICAL EXPERTISE &amp; SKILLS
    h3 HTML
    ul
      li HTML5, written by hand using well thought out semantics
      li Cross-browser compatible &amp; SEO friendly
    h3 CSS
    ul
      li CSS3, SASS (SCSS)
      li OOCSS, BEM
      li Twitter Bootstrap, Zurb Foundation
    h3 JavaScript
    ul
      li Object oriented &amp; modular vanilla JS
      li DOM manipulation with jQuery
      li AngularJS 1.X
      li ReactJS with Redux
      li REST services with AJAX &amp; JSON
      li Handlebars.js
      li D3.js
    h3 Workflow
    ul
      li Automation and Optimization with Webpack and Gulp.js
      li Yarn and npm for package management
      li Continuous integration with Jenkins
      li Git &amp; Github flows
    h3 Methodologies
    ul
      li Agile - Scrum
      li Responsive design (Mobile first)
      li Graceful degradation
      li Usability &amp; Accessibility
      li SEO/SEM
      li Rapid prototyping
    h3 Tools
    ul
      li
        b IDE/Editors:
        |  PHPStorm, WebStorm, IDEA, Sublime Text, Visual Studio Code
      li
        b Design &amp; Wireframe:
        |  Photoshop, Illustrator, Mockflow
      li
        b Debugging:
        |  Chrome Dev Tools, Firebug
      li
        b Test:
        |  Browserstack, Litmus
      li
        b Tracking:
        |  Jira, Trello, Wunderlist
      li
        b Other:
        |  Google PageSpeed Insights, Analytics, Adwords, Webmaster Tools, Trends
    h3 Other
    ul
      li Experienced in working with Java, Ruby on Rails, PHP, ASP.NET enviroments
      li Drupal and Wordpress experience
      li Cross-browser compatible HTML emails with Zurb Ink
      li Simple animations with Canvas API
      li SVG
      li Fundamentals of Ruby on Rails
      li Basic understanding of MySql and MongoDB
      li SSH &amp; *nix familarity
    hr
    h2.line
      span.icon.big
        include ../assets/svg/abc.svg
      | LANGUAGES
    h3
      |  English (Business)
    h3
      |  German (Conversational)
    h3
      |  Turkish (Native)
    h2#personal-links.line.personal-links
      span.icon.big
        include ../assets/svg/personal.svg
      | PERSONAL LINKS
    ul.sub-list.personal-links.p0
      li.sidebar-brand
        a(href='https://github.com/akici', target='_blank')
          | github.com/akici
      li.sidebar-brand
        a(href='https://www.xing.com/profile/Ayberk_AKICI', target='_blank')
          | xing.com/profile/Ayberk_AKICI
      li.sidebar-brand
        a(href='https://twitter.com/ayberkakici', target='_blank')
          | twitter.com/ayberkAKICI
    h2#contact-info.line.personal-links
      span.icon.big
        include ../assets/svg/contact.svg
      | CONTACT INFO
    ul.sub-list.personal-links.p0
      li.sidebar-brand
        span e-mail: 
        a(href='mailto:ayberk@ayberkakici.com', target='_blank')
          | ayberk@ayberkakici.com
      li.sidebar-brand
        span skype: 
        a(href='skype:ayberk--?add', target='_blank')
          | ayberk--

    
