doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/'+assets.css)
    link(rel='canonical', href= url)
    link(type='image/x-icon', rel='icon', href='/images/favicon.ico')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui')
    meta(name='description', content='Find out about me, what I do, and have a look at my CV. Ayberk Akıcı is an experienced front end web developer writing HTML, CSS and JavaScript')
    meta(http-equiv='x-dns-prefetch-control', content='on')
  body
    include header.jade
    .container
      include sidebar.jade
      block content
    #goTop(style='display: none')
      a.goTopAnchor
        span.icon-arrowUp &#8673;
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js', crossorigin='anonymous')
    script(src='/'+assets.js, crossorigin='anonymous')
    script(type='text/javascript').
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-47948218-1', 'auto');
      ga('send', 'pageview');
      
