aside#sidebar.sidebar.box-shadow
    .sidebar-wrapper
        h2.site-logo.animated.slideInDown
            a.logo(href="/")
                include ../public/images/ayberk-akici-logo.svg           
                span.hide-text AYBERK AKICI        
                span FRONT-END DEVELOPER         
        .photo-wrapper.animated.fast
            img.img-responsive(src="/images/ayberk-akici-portrait.jpg", alt="Ayberk Akıcı", title="Ayberk Akıcı")      
        ul.sidebar-nav.animated.fast
            li.primary-menu-link
                a(href="/works") 
                    | MY WORKS              
            li.sidebar-brand
                span.icon.small
                    include ../assets/svg/location.svg                   
                a(href="https://goo.gl/VavDHK", target="blank") Berlin, Germany              
            li.sidebar-brand
                span.icon.small
                    include ../assets/svg/email.svg                   
                a(href="mailto: ayberk@ayberkakici.com")
                    | ayberk@ayberkakici.com                
            li.sidebar-brand
                span.icon.small
                    include ../assets/svg/skype.svg
                a(href="skype:ayberk--?add")
                    | ayberk--
            li.sidebar-brand
                span.icon.small
                    include ../assets/svg/github.svg
                a(href="https://github.com/akici", target="_blank")
                    | github.com/akici
            li.sidebar-brand
                span.icon.small
                    include ../assets/svg/xing.svg
                a(href="https://www.xing.com/profile/Ayberk_AKICI", target="_blank")
                    | xing.com/profile/Ayberk_AKICI
            li.sidebar-brand
                span.icon.small
                    include ../assets/svg/linkedin.svg
                a(href="https://www.linkedin.com/in/ayberk-akici", target="_blank")
                    | linkedin.com/in/ayberk-akici
      p
      |Ⓒ 2014 - 2017