extends layout

block content
  
  .content.works
    h1.mt0 WORKS
    h2 Recent Projects
    .row
      .col-xs-12.col-sm-12.col-md-6.col-lg-6
        .project
          .project__image
            img(src='/images/works/arikovani.png', alt='Arıkovanı', title='Arıkovanı')
            .overlay
              a(href='https://arikovani.com/', target='_blank', rel='nofollow')
                h2 Arıkovanı
                span arikovani.com
          .project__enviroment
            h4 HTML, CSS, JavaScript &amp; jQuery
          .project__content
            p
              | Arıkovanı is the primary Turkish crowdfunding platform for projects focusing on innovation and technology. It is powered by YGA and Turkcell.
      .col-xs-12.col-sm-12.col-md-6.col-lg-6
        .project
          .project__image
            img(src='/images/works/pso.png', alt='PetSleepover', title='PetSleepover')
            .overlay
              a(href='http://www.petsleepover.com.au/', target='_blank', rel='nofollow')
                h2 PetSleepover
                span petsleepover.com.au
          .project__enviroment
            h4 HTML, CSS, JavaScript &amp; jQuery
          .project__content
            p
              | PetSleepover is a service located in Australia where you can find a local, trusted Pet Sitter near you, for when you are away on holidays, business.
      .col-xs-12.col-sm-12.col-md-6.col-lg-6
        .project
          .project__image
            img(src='/images/works/filogo.png', alt='Filogo', title='Filogo')
            .overlay
              a(href='http://filogo.solidict.com', target='_blank', rel='nofollow')
                h2 FILOGO
                span filogo.solidict.com
                span a.k.a. FreightMatcher
          .project__enviroment
            h4 HTML, CSS, JavaScript &amp; jQuery + Backbone.js
          .project__content
            p
              | Although Filogo was an incomplete project due to client's attitude, I am presenting it here since it was developed by using Backbone.js &amp; Require.js
      .col-xs-12.col-sm-12.col-md-6.col-lg-6
        .project
          .project__image
            img(src='/images/works/notifyme.png', alt='NotifyMe.js', title='NotifyMe.js')
            .overlay
              a(href='https://github.com/akici/notifyMe.js', target='_blank', rel='nofollow')
                h2 NotifyMe.js
                span github.com/akici/notifyMe.js
          .project__enviroment.open-source
            h4 JavaScript - Open source
          .project__content
            p
              | NotifyMe.js is a pure JavaScript mini library to create text notifications on screen corners. It has been written as my O'Reilly JS course's final project.
      .col-xs-12.col-sm-12.col-md-6.col-lg-6
        .project
          .project__image
            img(src='/images/works/akca.png', alt='Akca Lojistik', title='Akca Lojistik')
            .overlay
              a(href='http://www.akcalojistik.com/', target='_blank', rel='nofollow')
                h2 Akca Lojistik
                span www.akcalojistik.com
          .project__enviroment
            h4 HTML, CSS, JavaScript &amp; jQuery
          .project__content
            p
              | Akca Lojistik offers integrated logistics services to its customers through integrating inbound shipments, warehousing services and distribution network.
      .col-xs-12.col-sm-12.col-md-6.col-lg-6
        .project
          .project__image
            img(src='/images/works/mentorumveben.png', alt='Mentorum ve Ben', title='Mentorum ve Ben')
            .overlay
              a(href='http://mentorumveben.biz/', target='_blank', rel='nofollow')
                h2 Mentorum ve Ben
                span mentorumveben.biz
          .project__enviroment
            h4 HTML, CSS, JavaScript &amp; jQuery
          .project__content
            p
              | This portal is supported within the scope of Istanbul Development Agency's financial assistance programs,Mentoring and Investors Network Building.
      .col-xs-12.col-sm-12.col-md-6.col-lg-6
        .project
          .project__image
            img(src='/images/works/cardesim.png', alt='Cardesim', title='Cardesim')
            .overlay
              a(href='http://cardesim.com/', target='_blank', rel='nofollow')
                h2 Cardesim
                span cardesim.com
          .project__enviroment
            h4 HTML, CSS, JavaScript &amp; jQuery
          .project__content
            p
              | Cardesim offers discounts and deals for university students up to 50% off at over 585 places ranging from dining and shopping to entertainment locations.
      .col-xs-12.col-sm-12.col-md-6.col-lg-6
        .project
          .project__image
            img(src='/images/works/cardgusto.png', alt='CardGusto', title='CardGusto')
            .overlay
              a(rel='nofollow')
                h2 CardGusto
                span Venue &amp; Admin Dashboard
          .project__enviroment
            h4 HTML, CSS, JavaScript, jQuery &amp; D3.js
          .project__content
            p
              | CardGusto is mobile and web based CRM, Rewards and Loyalty Program and Software that helps tons of businesses to attract and retain customers easily.
    br
    h2 Earlier Projects
    .row
      .col-xs-12.col-sm-12.col-md-6.col-lg-6
        .project
          .project__image
            img(src='/images/works/gokcen.png', alt='Gökçen Aviation', title='Gökçen Aviation')
            .overlay
              a(href='http://www.thkgokcen.com.tr/', target='_blank', rel='nofollow')
                h2 Gökçen Aviation
                span www.thkgokcen.com.tr
          .project__enviroment
            h4 Design, HTML, CSS, JavaScript &amp; jQuery
          .project__content
            p
              | Gökçen Aviation is commercial enterprise of Turkish Aeronautical Association which has activity in several fields including Aerial Fire Extinguishing, Airplane Maintenance and Air Taxi.
      .col-xs-12.col-sm-12.col-md-6.col-lg-6
        .project
          .project__image
            img(src='/images/works/bogazici.png', alt='Boğaziçi Lokantası', title='Boğaziçi Lokantası')
            .overlay
              a(href='http://www.bogazicilokantasi.com.tr/', target='_blank', rel='nofollow')
                h2 Boğaziçi Lokantası
                span www.bogazicilokantasi.com.tr
          .project__enviroment
            h4 Design, Drupal CMS, HTML, CSS, JavaScript &amp; jQuery
          .project__content
            p
              | Boğaziçi Lokantası is one of the oldest restuarants in Ankara that provides its customers most exquisite dining experience by serving a selection of exclusive dishes including Ottoman cuisine.


    
