<%= content_for :title, 'About Me | Ayberk Akıcı - Front End Web Developer' %>
<%= content_for :canonical, 'http://www.ayberkakici.com/about' %>

<h2 style="color: #ffffff">About Page Test Jenkins</h2>

  <p>This would be a static home page in a Rails application.</p>
