<%= content_for :title, 'About Me | Ayberk Akıcı - Front End Web Developer' %>
<%= content_for :canonical, 'http://www.ayberkakici.com/contact' %>
<h2>Contact Page</h2>

  <p>This would be a static home page in a Rails application.</p>
