<%= content_for :title, 'Ayberk Akıcı - Front End Web Developer' %>
<%= content_for :canonical, 'http://www.ayberkakici.com' %>

<h2>Hi there, I'm Ayberk Akıcı</h2>
<p>I am a front-end web developer located in İstanbul, Turkey. I have three years of professional (and three more years as semi-pro and hobby) experience in developing various scales of websites and web-applications based on web technologies including HTML, CSS and JavaScript. I am passionate about writing modular, reusable and well organized, clean code for efficient and accessible software by following cutting-edge technologies and applying best practices.</p>
<hr />
<h2 class="line"><span class="icon big icon-briefcase"></span>WORK EXPERIENCE</h2>
<h3>Front End Web Developer</h3>
<h4>Solid-ICT, İstanbul</h4>
<h5 class="italic">April 2014 - Present</h5>
<ul>
	<li>Convert visual mock-ups into clean, solid HTML and CSS markup which are cross-browser compatible and SEO friendly</li>
	<li>Write object-oriented, modular, resuable JavaScript code that communicates with internal and external RESTful API’s via AJAX and JSON to demonstrate interactions</li>
	<li>Develop single page web apps using Backbone.js, Handlebars.js and Require.js</li>
	<li>Automate repetitive tasks such as SASS compiling, various optimization tasks and dependency management using Grunt/Gulp and Bower</li>
	<li>Write front-end Java tags (Thymeleaf)</li>
	<li>Debug applications using debugging tools and perform browser tests</li>
	<li>Use command line for GIT workflow and NPM package manager</li>
	<li>Use Agile &amp; Scrum methodologies</li>
	<li>Troubleshoot bugs via Jira</li>
	<li>Coach and mentor teammates</li>
	<li>Coded email templates using HTML and performed email client tests</li>
	<li>Visualized data using D3.js based on SVG</li>
	<li>Generated wireframes according to customer briefs</li>
	<li>Created simple animations with HTML5 Canvas API</li>
</ul>

<br /><br />

<h3>Web Designer &amp; Developer</h3>
<h4>Han Ajans, Ankara</h4>
<h5 class="italic">July 2013 - March 2014</h5>
<ul>
	<li>Designed and developed corporate websites for small to medium sized businesses utilizing HTML, CSS and added interactivity with jQuery library</li>
	<li>Engaged directly with clients during project planning phase, exploring user profiles and scenarios, wireframing, and prototyping of core project experiences</li>
	<li>Implemented open-source content management systems such as Drupal and WordPress according to administrative needs</li>
	<li>Customized and developed Drupal themes based on sub-themes utilizing HTML and CSS in the light of visual designs and prototypes</li>
	<li>Administered Google Adwords SEM campaign on a clients behalf by setting measurable goals, and tracking trends and metrics in Google Analytics</li>
</ul>

<br /><br />

<h3>Web Designer &amp; Developer</h3>
<h4>Freelancer</h4>
<h5 class="italic">October 2011 - August 2012, June 2013 - April 2014</h5>
<ul>
	<li>Worked with small/medium sized business owners to create or redevelop their web presence as well as with creative agencies as their web solutions partner</li>
	<li>Developed web sites using various Content Management Systems like Drupal and WordPress, implemented appropriate CMS modules according requirements, themed semantically with HTML, CSS and added interactivity with jQuery</li>
	<li>Involved in all phases of a web project from planning to testing and once completed, its maintenance</li>
</ul>

<hr />

<h2 class="line"><span class="icon big icon-education"></span>EDUCATION</h2>
<h3>Master of Science in Information Technologies</h3>
<h4>Başkent University, Ankara</h4>
<h5 class="italic">August 2011</h5>

<br /><br />

<h3>Bacholer of Science in Actuarial Science</h3>
<h4>Hacettepe University, Ankara</h4>
<h5 class="italic">February  2008</h5>

<hr />

<h2 class="line"><span class="icon big icon-certificate"></span>CERTIFICATES</h2>
<h3>Advanced JavaScript Essentials</h3>
<h4>O’Reilly School of Technology</h4>
<h5 class="italic">August 2015</h5>

<br /><br />

<h3>Web Application Architectures</h3>
<h4>University of New Mexico on Coursera</h4>
<h5 class="italic">April 2015</h5>

<br /><br />

<h3>Internet History, Technology, and Security</h3>
<h4>University of Michigan on Coursera</h4>
<h5 class="italic">April 2014</h5>

<br /><br />

<h3>TOEFL IBT (80 Pts)</h3>
<h4>ETS</h4>
<h5 class="italic">June 2008</h5>

<hr />

<h2 class="line"><span class="icon big icon-expertise"></span>TECHNICAL EXPERTISE &AMP; SKILLS</h2>

<h3><span class="h4">&#9679;</span>&nbsp;HTML</h3>
<ul class="sub-list">
	<li>HTML5, written by hand using well thought out semantics</li>
	<li>Cross-browser compatible &amp; SEO friendly</li>
</ul>

<h3><span class="h4">&#9679;</span>&nbsp;CSS</h3>
<ul class="sub-list">
	<li>CSS3, SASS (SCSS)</li>
	<li>OOCSS, BEM</li>
	<li>Twitter Bootstrap, Zurb Foundation</li>
</ul>

<h3><span class="h4">&#9679;</span>&nbsp;JavaScript</h3>
<ul class="sub-list">
	<li>Object oriented &amp; modular vanilla JS</li>
	<li>DOM manipulation with jQuery</li>
	<li>REST services with AJAX &amp; JSON</li>
	<li>Backbone.js &amp; Marionette.js</li>
	<li>Handlebars.js</li>
	<li>AMD with Require.js</li>
	<li>D3.js</li>
</ul>

<h3><span class="h4">&#9679;</span>&nbsp;Workflow</h3>
<ul class="sub-list">
	<li>Automation and Optimization with Grunt.js/Gulp.js</li>
	<li>Bower and npm for package management</li>
	<li>Continuous integration with Jenkins</li>
	<li>Git &amp; Github flows</li>
</ul>

<h3><span class="h4">&#9679;</span>&nbsp;Methodologies</h3>
<ul class="sub-list">
	<li>Agile - Scrum</li>
	<li>Responsive design (Mobile first)</li>
	<li>Graceful degradation</li>
	<li>Usability &amp; Accessibility</li>
	<li>SEO/SEM</li>
	<li>Rapid prototyping</li>
</ul>

<h3><span class="h4">&#9679;</span>&nbsp;Tools</h3>
<ul class="sub-list">
	<li><b>IDE/Editors:</b> WebStorm, IDEA, Sublime Text, Visual Studio</li>
	<li><b>Design &amp; Wireframe:</b> Photoshop, Illustrator, Mockflow</li>
	<li><b>Debugging:</b> Chrome Dev Tools, Firebug</li>
	<li><b>Test:</b> Browserstack, Litmus</li>
	<li><b>Tracking:</b> Jira, Trello, Wunderlist</li>
	<li><b>Other:</b> Google PageSpeed Insights, Analytics, Adwords, Webmaster Tools, Trends</li>
</ul>

<h3><span class="h4">&#9679;</span>&nbsp;Other</h3>
<ul class="sub-list">
	<li>Experienced in working with Java, Ruby on Rails, PHP, ASP.NET enviroments</li>
	<li>Drupal and Wordpress experience</li>
	<li>Cross-browser compatible HTML emails with Zurb Ink</li>
	<li>Simple animations with Canvas API</li>
	<li>Fundamentals of SVG</li>
	<li>Fundamentals of Ruby on Rails</li>
	<li>Basic understanding of MySql and MongoDB</li>
	<li>SSH &amp; *nix familarity</li>
</ul>

<hr />

<h2 class="line"><span class="icon big icon-expertise"></span>ATTENDED CONFERENCES</h2>

<h3><span class="h4">&#9679;</span>&nbsp;Istanbul Tech Talks (2015)</h3>
<h3><span class="h4">&#9679;</span>&nbsp;JSIst (2014)</h3>

<hr />

<h2 class="line"><span class="icon big icon-expertise"></span>LANGUAGES</h2>

<h3><span class="h4">&#9679;</span>&nbsp;English (Business)</h3>
<h3><span class="h4">&#9679;</span>&nbsp;German (Conversational)</h3>
<h3><span class="h4">&#9679;</span>&nbsp;Turkish (Native)</h3>