/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";
/* cyrillic-ext */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);

/*Colors*/
$white: #ffffff;
$black: #000000;
$darkGrey: #232527;
$beige: #fbf7e0;
$turquoise: #15b4c9;
$lightGrey: #7c7a79; /*-> h2, p(tarih)*/
$darkGreyText: #343434; /*-> h3, p*/

body {
	font: 100%/1.4 'Source Sans Pro', sans-serif;
	background-color: #eae8e7;
	margin: 0;
	padding: 0;
	color: $darkGreyText;
  overflow-y: auto;
  padding-bottom: 30px;
}

html, body {
  height: 100%;
}

a {
  transition: all .25s ease;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  &:focus {
    outline: 0;
    text-decoration: none;
  }
}

/* ~~ this fixed width container surrounds all other elements ~~ */
.container {
	width: 1140px !important;
  max-width: none !important;
	margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout */
}

/*Header*/
header {
  border-bottom: 3px solid $turquoise;
  background: $darkGrey;
  width: 100%;
  display: table;
  overflow: hidden;
}

.site-logo {
  float: left;
  display: inline-block;
  margin: 0;
  width: 300px;
  height: 90px;
  font-size: 100%;
  vertical-align: baseline;
  position: relative;

  a {
    top: 20px;
    left: 15px;
    line-height: 1;
    text-decoration: none !important;
    position:absolute;
    img {
      width: 205px;
      height: auto;
    }
    span {
      font-size: 1.40em;
      letter-spacing: 0.11em;
      color: $white;
      display: block;
      border-top: 1px solid transparentize($white, 0.3);
      margin: 10px 0 0;
      padding-top: 9px;
      font-weight: 300;
    }
  }
}

.hide-text {
  width: 0;
  height: 0;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.primary-menu {
  margin-left: 0;
  margin-bottom: 0;
  position: relative;
}

.primary-menu-link {
  display: inline-block;
  a {
    padding: 37px 37px 25px;
    color: $white;
    display: inline-block;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 300;
    text-transform: uppercase;
    &:hover {
      color: $turquoise;
      text-decoration: none;
    }
  }
}

h1, h2, h3 {
  font-weight: 600;
}

.mt30 {
  margin-top: 30px;
}

/*Sidebar*/
aside.sidebar {
    width: 270px;
    height: 100%;
    float: left;
    color: $beige;
    background-color: #232527;
    margin-top: 20px;
    padding: 20px 0;
    overflow: hidden;
    position: absolute;
    .site-logo {
      display: none;
      margin: 0 0 10px -4px;
      a {
        cursor: pointer;
      }
    }
    &.sidebar-fixed {
      top: 0;
      margin: 0;
      position: fixed;
      height: 100%;
      .site-logo {
        display: block;
        position: relative;
      }
      .site-logo {
        float: none;
        display: block;
        position: relative;
        height: 80px;
        width: 205px;
        margin: 0 auto 20px;
        a {
          width: 205px;
          left: auto;
          position: relative;
        }
      }
    
    }
    .sidebar-wrapper {
      width: 270px;
      position: relative;
      padding: 0 20px; 
      overflow: hidden; 
    }
    .photo-wrapper {
      margin: 0 auto;
      width: 155px;
      height: 155px;
      border-radius: 50%;
      border: 2px solid #15b4c9;
      display: block;
      position: relative;
      overflow: hidden;
      z-index: 2;
    }
    h2, h3 {
      font-weight: 400;
    }
    h3 {
      margin-bottom: 20px;
    }
    h4 {
      margin-bottom: 15px;
    }
    h5 {
      margin-bottom: 5px;
    }
}

.animated {
  animation-duration: 0.9s;
  animation-fill-mode: both;
  &.fast {
    animation-duration: 0.4s;
  }
}

@keyframes slideInDown {
  from {
    transform: translate3d(0, -75%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  animation-name: slideInDown;
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 75%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  animation-name: slideInUp;
}

ul.sidebar-nav {
  margin: 0;
  padding: 20px 0 0;
  list-style: none;
  color: $beige;
  li {
    color: $beige;
    font-size: 15px;
    margin-bottom: 10px;
    line-height: 1.25;
    a, a:visited {
      color: $white;
      text-decoration: none;
      font-weight: 300;
    }
    a:hover, a:active {
      color: $turquoise;
      text-decoration: none;
      outline: none;
      font-weight: 300;
    }
  }
}

.box-shadow {
  box-shadow: 0 2px 1px rgba(130,133,135,.2) !important;
}

.italic {
  font-style: italic;
}

.content {
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 300px;
  padding: 25px 25px;
  background: $white;
  border: 1px solid rgba(130, 133, 135, 0.2);
  overflow: hidden;
  position: relative;
  &.works {
    min-height: 1900px;
    background: none;
    border: none;
  }
  p {
    font-size: 15px;
  }
  h2 {
    color: $darkGrey;
    margin-bottom: 25px;
   font-weight: 400;
    /*&.line:after {
      content: '';
      width: 100%;
      height: 1px;
      background-color: lighten($lightGrey, 25%);
      position: absolute;
      margin: 22px 20px;
    }*/
  }
  h3 {
    color: $darkGrey;
    margin: 0 0 10px 0;
    font-weight: 400;
  }
  h4 {
    color: $darkGreyText;
    margin: 0 0 5px 0;
  }
  h5 {
    color: $lightGrey;
    margin: 0;
  }
  ul {
    padding: 0;
    margin-top: 15px;
    font-size: 15px;
    list-style-position: inside;
    li {
      margin-bottom: 4px;
    }
    &.sub-list {
      padding: 0 0 15px 19px;
      margin-top: 0;
      list-style-type: circle;
    }
  }
}

.goTopAnchor {
  cursor: pointer;
  span {
    width: 32px;
    height: 32px;
    display: block;
  }
}

div#goTop {
  position: fixed;
  display: block;
  z-index: 9;
  bottom: 2%;
  right: 2%;
}


/*Icons*/
.icon {
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  &.small {
    width: 25px;
    height: 25px;
    margin-right: 4px;
    top: 7px;
    background-size: 70%;
    &.icon-github {
      background-size: 100%;
    }
    &.icon-CodeSchool {
      background-size: 100%;
    }
  }
  &.big {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-right: 4px;
    top: 7px;
    background-color: $darkGreyText;
    background-size: 70%;
  }
}

.project {
  width: 100%;
  padding: 0;
  margin-bottom: 30px;
  background-color: $white;
  border: 1px solid rgba(130, 133, 135, 0.2);
  position: relative;
  @extend .box-shadow;
}

.project__image {
    width: 100%;
    height: 240px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    position: relative;
    transition: all 1s;
    &:hover {
      img {
        transform: scale(1.2);
        transition: all 6s;
      }
      .overlay {
        opacity: 1;
      }
    }
    .overlay {
      opacity: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      /*background-color: rgba(0,0,0,0.75);*/
      background-color: rgba(21,180,201,.9);
      transition: all 1s;
      cursor: pointer;
      a {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        text-decoration: none !important;
      }
      h2, span {
        color: #ffffff !important;
        text-decoration: none !important;
        font-size: 35px;
        font-weight: 600;
        width: 100%;
        display: block;
        vertical-align: middle;
        text-align: center;
      }
      h2 {
        margin-top: 90px;
        margin-bottom: 10px;
      }
      span {
        font-size: 15px;
      }
    }
    img {
      /*opacity: 0;*/
      max-width: 100%;
      height: auto;
      transition: all 1.5s;
    }
  }
.project__enviroment {
    padding: 5px 10px;
    background-color: $darkGrey;
    h4 {
      color: $white;
      font-size: 15px;
      font-weight: 400;
      margin: 0;
    }
  }
.project__content {
  padding: 10px;
  min-height: 90px;
  color: $darkGreyText;
}

/* Icons from directory "" */
/*.icon-arrowUp,.icon-arrowUp\:regular {
  background-image: url('/images/icons.svg');
  background-position: 0 0;
}
.icon-birtday,.icon-birtday\:regular {
  background-image: url('/images/icons.svg');
  background-position: 0 -32px;
}
.icon-bitbucket,.icon-bitbucket\:regular {
  background-image: url('/images/icons.svg');
  background-position: 0 -56px;
}
.icon-briefcase,.icon-briefcase\:regular {
  background-image: url('/images/icons.svg');
  background-position: 0 -88px;
}
.icon-certificate,.icon-certificate\:regular {
  background-image: url('/images/icons.svg');
  background-position: 0 -152px;
}
.icon-codeSchool,.icon-codeSchool\:regular {
  background-image: url('/images/icons.svg');
  background-position: 0 -452px;
}
.icon-education,.icon-education\:regular {
  background-image: url('/images/icons.svg');
  background-position: 0 -752px;
}
.icon-expertise,.icon-expertise\:regular {
  background-image: url('/images/icons.svg');
  background-position: 0 -784px;
}
.icon-github,.icon-github\:regular {
  background-image: url('/images/icons.svg');
  background-position: 0 -816px;
}
.icon-location,.icon-location\:regular {
  background-image: url('/images/icons.svg');
  background-position: 0 -916px;
}
.icon-mail,.icon-mail\:regular {
  background-image: url('/images/icons.svg');
  background-position: 0 -932px;
}
.icon-phone,.icon-phone\:regular {
  background-image: url('/images/icons.svg');
  background-position: 0 -948px;
}
.icon-pingPong,.icon-pingPong\:regular {
  background-image: url('/images/icons.svg');
  background-position: 0 -1090px;
}
.icon-skype,.icon-skype\:regular {
  background-image: url('icons/icons.svg');
  background-position: 0 -1122px;
}
.icon-twitter,.icon-twitter\:regular {
  background-image: url('icons/icons.svg');
  background-position: 0 -1179px;
}
.icon-xing,.icon-xing\:regular {
  background-image: url('icons/icons.svg');
  background-position: 0 -1236px;
}*/

%icon {
  background-repeat: no-repeat
}
.icon-arrowUp,
.icon-arrowUp\:regular {
  @extend %icon;
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20id%3D%22arrowUp-Layer_1%22%20xml%3Aspace%3D%22preserve%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%20width%3D%2232%22%20version%3D%221.1%22%20enable-background%3D%22new%200%200%2032%2032%22%3E%3Cpath%20d%3D%22m18.221%207.206l9.585%209.585c0.879%200.879%200.879%202.317%200%203.195l-0.8%200.801c-0.877%200.878-2.316%200.878-3.194%200l-7.315-7.315-7.315%207.315c-0.878%200.878-2.317%200.878-3.194%200l-0.8-0.801c-0.879-0.878-0.879-2.316%200-3.195l9.587-9.585c0.471-0.472%201.103-0.682%201.723-0.647%200.617-0.035%201.25%200.175%201.723%200.647z%22%20fill%3D%22%23515151%22%2F%3E%3C%2Fsvg%3E');
}
.icon-arrowUp-dims {
  width: 32px;
  height: 32px;
}
.icon-birtday,
.icon-birtday\:regular {
  @extend %icon;
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20height%3D%2224%22%20width%3D%2224%22%20version%3D%221.1%22%20viewBox%3D%220%200%2024%2024%22%3E%3Ctitle%2F%3E%3Cdesc%2F%3E%3Cg%20id%3D%22birtday-miu%22%20fill-rule%3D%22evenodd%22%20fill%3D%22none%22%3E%3Cg%20id%3D%22birtday-Artboard-1%22%20transform%3D%22translate%28-827%20-515%29%22%3E%3Cpath%20id%3D%22birtday-food-birthday-cake-party-candle-glyph%22%20d%3D%22m829.13%20528.92c0.59%200.41%201.32%200.79%201.97%200.79%201.37%200%202.16-1.71%203.67-1.71s2.5%201.71%203.95%201.71c1.44%200%202.55-1.71%203.95-1.71s2.58%201.71%203.95%201.71c0.7%200%201.57-0.45%202.25-0.89v-2.81c0-1.01-0.56-1.01-0.56-1.01h-18.62s-0.56%200-0.56%201.01v2.91zm-1.13-0.42v5.21c0%202.29%202.26%202.29%202.26%202.29h17.48s2.26%200%202.26-2.29v-5.21-2.49c0-2.01-1.69-2.01-1.69-2.01h-18.62s-1.69%200-1.69%202.01v2.49zm5-9v4h1v-4h-1zm5.5%200v4h1v-4h-1zm5.5%200v4h1v-4h-1zm-10.51-0.5c0.51%200.01%200.83-0.55%200-1.5-0.8%200.95-0.49%201.49%200%201.5zm5.5%200c0.51%200.01%200.83-0.55%200-1.5-0.8%200.95-0.49%201.49%200%201.5zm5.5%200c0.51%200.01%200.83-0.55%200-1.5-0.8%200.95-0.49%201.49%200%201.5z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E');
}
.icon-birtday-dims {
  width: 24px;
  height: 24px;
}
.icon-bitbucket,
.icon-bitbucket\:regular {
  @extend %icon;
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20id%3D%22bitbucket-Capa_1%22%20style%3D%22enable-background%3Anew%200%200%2031.68%2031.681%22%20xml%3Aspace%3D%22preserve%22%20height%3D%2232%22%20viewBox%3D%220%200%2031.68%2031.681%22%20width%3D%2232%22%20version%3D%221.1%22%20y%3D%220px%22%20x%3D%220px%22%3E%09%3Cpath%20d%3D%22m29.208%203.519c-0.203-0.285-0.451-0.525-0.729-0.738-0.61-0.475-1.297-0.814-2.01-1.102-1.516-0.611-3.097-0.971-4.701-1.229-1.958-0.313-3.932-0.438-6.006-0.45-1.854%200.016-3.797%200.133-5.725%200.434-1.369%200.215-2.721%200.506-4.035%200.951-0.869%200.297-1.71%200.649-2.477%201.164-0.365%200.244-0.701%200.521-0.976%200.869-0.344%200.438-0.491%200.926-0.402%201.479%200.173%201.092%200.333%202.185%200.513%203.272%200.264%201.611%200.537%203.222%200.811%204.828%200.306%201.787%200.62%203.573%200.918%205.36%200.07%200.416%200.246%200.769%200.526%201.07%200.179%200.193%200.37%200.377%200.574%200.543%200.73%200.59%201.562%201.01%202.432%201.354%202.082%200.83%204.259%201.205%206.485%201.328%201.616%200.09%203.23%200.033%204.838-0.187%201.369-0.185%202.709-0.479%204.011-0.948%200.965-0.349%201.891-0.775%202.725-1.382%200.355-0.26%200.683-0.547%200.945-0.901%200.181-0.238%200.305-0.504%200.354-0.805%200.397-2.341%200.809-4.679%201.196-7.021%200.362-2.172%200.701-4.346%201.058-6.518%200.084-0.502-0.031-0.955-0.325-1.371zm-13.388%2016.121c-2.4-0.008-4.341-1.971-4.333-4.383%200.006-2.41%201.958-4.347%204.369-4.338%202.425%200.008%204.359%201.961%204.35%204.387-0.011%202.398-1.979%204.342-4.386%204.334zm8.702-15.246c-0.124%200.139-0.274%200.262-0.436%200.357-0.45%200.268-0.951%200.409-1.454%200.541-0.952%200.243-1.923%200.383-2.896%200.485-1.281%200.136-2.565%200.183-3.791%200.188-1.49-0.008-2.914-0.068-4.332-0.238-1.064-0.129-2.124-0.291-3.146-0.633-0.303-0.104-0.598-0.236-0.883-0.381-0.146-0.072-0.275-0.185-0.386-0.304-0.197-0.215-0.196-0.45%200.005-0.663%200.117-0.125%200.26-0.232%200.407-0.316%200.424-0.246%200.89-0.389%201.359-0.512%200.983-0.256%201.985-0.402%202.994-0.509%201.652-0.17%203.308-0.221%204.967-0.172%201.524%200.045%203.045%200.158%204.55%200.431%200.706%200.127%201.407%200.274%202.075%200.545%200.236%200.096%200.463%200.217%200.683%200.346%200.109%200.064%200.208%200.164%200.288%200.266%200.142%200.182%200.148%200.397-0.004%200.569zm1.664%2018.367c0.009%200.088-0.004%200.183-0.021%200.271-0.305%201.604-0.614%203.205-0.911%204.811-0.101%200.539-0.344%200.99-0.724%201.377-0.422%200.432-0.918%200.752-1.448%201.023-0.979%200.498-2.018%200.811-3.085%201.031-1.377%200.286-2.771%200.414-3.563%200.407-2.41-0.006-4.184-0.198-5.917-0.698-0.802-0.23-1.577-0.529-2.3-0.953-0.379-0.222-0.732-0.478-1.042-0.789-0.388-0.392-0.64-0.846-0.741-1.396-0.296-1.604-0.609-3.207-0.915-4.81-0.016-0.081-0.021-0.163-0.019-0.245%200.019-0.394%200.37-0.597%200.724-0.423%200.036%200.021%200.072%200.041%200.105%200.063%201.174%200.853%202.484%201.423%203.858%201.856%201.262%200.4%202.556%200.641%203.873%200.758%201.52%200.138%203.031%200.104%204.54-0.11%202-0.28%203.91-0.851%205.687-1.827%200.354-0.194%200.686-0.43%201.025-0.646%200.056-0.035%200.108-0.076%200.167-0.104%200.34-0.151%200.674%200.038%200.707%200.404zm-8.159-7.477c-0.005%201.203-0.992%202.184-2.197%202.178-1.205-0.004-2.178-0.987-2.172-2.196%200.004-1.212%200.98-2.181%202.192-2.175%201.209%200.006%202.18%200.982%202.177%202.193z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E');
}
.icon-bitbucket-dims {
  width: 32px;
  height: 32px;
}
.icon-briefcase,
.icon-briefcase\:regular {
  @extend %icon;
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20id%3D%22briefcase-Layer_1%22%20xml%3Aspace%3D%22preserve%22%20height%3D%2264%22%20viewBox%3D%220%200%2064%2064%22%20width%3D%2264%22%20version%3D%221.1%22%20enable-background%3D%22new%200%200%2064%2064%22%3E%3Cg%20fill%3D%22%23fff%22%3E%3Cpath%20d%3D%22m34.464%2036.664v-1.116c0-1.361-1.103-2.464-2.463-2.464-1.361%200-2.464%201.103-2.464%202.464v1.116c0%201.361%201.103%202.464%202.464%202.464%201.359%200%202.463-1.103%202.463-2.464z%22%2F%3E%3Cpath%20d%3D%22m36.154%2038.027c-0.546%201.787-2.191%203.099-4.153%203.099-1.963%200-3.608-1.312-4.154-3.099h-16.969c-1.071%200-2.083-0.249-2.991-0.681v11.267c0%202.2%201.8%204%204%204h40.226c2.2%200%204-1.8%204-4v-11.266c-0.909%200.432-1.92%200.681-2.991%200.681h-16.968z%22%2F%3E%3Cpath%20d%3D%22m52.955%2017.795h-9.601c-0.58-3.626-3.721-6.408-7.508-6.408h-7.693c-3.787%200-6.927%202.782-7.508%206.408h-9.6c-2.292%200-4.167%201.8-4.167%204v9.233c0%202.209%201.791%204%204%204h16.78c0.057-1.151%200.551-2.185%201.332-2.933%200.024-0.023%200.052-0.041%200.077-0.063%200.173-0.159%200.353-0.309%200.55-0.439%200.07-0.047%200.15-0.079%200.223-0.121%200.162-0.093%200.322-0.19%200.497-0.262%200.137-0.057%200.285-0.09%200.429-0.133%200.124-0.037%200.242-0.086%200.371-0.112%200.279-0.057%200.568-0.087%200.863-0.087%200.296%200%200.584%200.031%200.863%200.087%200.128%200.026%200.246%200.075%200.37%200.112%200.144%200.043%200.292%200.076%200.429%200.134%200.174%200.072%200.333%200.168%200.495%200.261%200.074%200.043%200.154%200.075%200.225%200.122%200.197%200.129%200.376%200.279%200.549%200.438%200.025%200.023%200.054%200.041%200.078%200.065%200.782%200.748%201.275%201.782%201.332%202.933h16.78c2.209%200%204-1.791%204-4v-9.233c0.001-2.202-1.874-4.002-4.166-4.002zm-28.459%200c0.51-1.541%201.947-2.664%203.657-2.664h7.693c1.71%200%203.147%201.123%203.657%202.664h-15.007z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
}
.icon-briefcase-dims {
  width: 64px;
  height: 64px;
}
.icon-certificate,
.icon-certificate\:regular {
  @extend %icon;
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20id%3D%22certificate-Capa_1%22%20style%3D%22enable-background%3Anew%200%200%20401.168%20401.168%22%20xml%3Aspace%3D%22preserve%22%20height%3D%22300%22%20viewBox%3D%220%200%20401.168%20401.168%22%20width%3D%22300%22%20version%3D%221.1%22%20y%3D%220px%22%20x%3D%220px%22%3E%09%09%3Cpath%20d%3D%22m401%20250.54c-0.834-5.295-4.759-9.572-9.961-10.859-0.872-0.215-71.379-17.925-123.18-49.804l-56.563-56.576c-31.844-51.777-49.596-122.3-49.811-123.17-1.286-5.203-5.565-9.128-10.859-9.962-5.293-0.834-10.572%201.585-13.396%206.14l-17.078%2027.542c-9.682-8.729-24.245-12.872-36.144-9.729l-0.973%200.259c-42.163%2012.912-68.941%2039.69-81.858%2081.86l-0.258%200.974c-2.961%2013.143%201.392%2027.9%2011.09%2037.599%200.729%200.729%201.494%201.433%202.272%202.092l0.294%200.241c32.075%2025.631%2063.309%2052.74%2093.259%2080.913-26.838%2014.876-50.168%2022.272-67.996%2021.479-2.969-0.133-5.679%201.683-6.688%204.479s-0.084%205.923%202.286%207.719l20.133%2015.26-22.844%2021.916c-1.961%201.882-2.611%204.751-1.653%207.293%200.348%200.924%200.882%201.737%201.552%202.407%201.177%201.178%202.772%201.906%204.501%201.982%2020.176%200.897%2042.373-3.433%2066.34-12.889-9.457%2023.967-13.786%2046.163-12.889%2066.339%200.077%201.729%200.806%203.325%201.983%204.502%200.67%200.67%201.485%201.204%202.408%201.552%202.542%200.958%205.412%200.31%207.293-1.651l21.917-22.846%2015.258%2020.136c1.796%202.367%204.922%203.295%207.718%202.283%202.795-1.009%204.61-3.72%204.478-6.688-0.792-17.828%206.604-41.159%2021.481-67.999%2028.188%2029.964%2055.298%2061.198%2080.914%2093.263l0.243%200.3c0.657%200.774%201.359%201.536%202.086%202.266%209.698%209.698%2024.457%2014.053%2037.601%2011.094l0.978-0.259c42.17-12.923%2068.947-39.7%2081.861-81.865%200%200%207.035-21.217-9.47-37.115l27.542-17.076c4.55-2.81%206.97-8.09%206.13-13.38zm-256.91-204.74c2.646%208.297%205.908%2017.908%209.772%2028.236-5.276-6.201-10.505-12.439-15.675-18.717l5.91-9.519zm-12.93%20167.64c-31.956-30.331-65.39-59.483-99.773-86.967-0.182-0.159-0.363-0.328-0.539-0.504-3.135-3.135-5.27-8.371-4.02-12.497%2010.398-33.443%2030-53.046%2063.446-63.445%203.783-1.262%209.22-0.221%2013%204.559%202.096%202.622%204.204%205.238%206.319%207.85l4.047%204.964c24.407%2029.881%2050.045%2058.988%2076.598%2086.963l-59.08%2059.08zm219.98%2097.45c-10.395%2033.441-29.996%2053.046-63.441%2063.446-4.096%200.889-9.366-0.887-12.501-4.021-0.175-0.177-0.345-0.354-0.501-0.535-27.465-34.371-56.617-67.807-86.965-99.775l59.076-59.075c27.979%2026.561%2057.088%2052.198%2086.968%2076.603l4.958%204.041c2.61%202.115%205.229%204.225%207.854%206.32%200.181%200.157%200.36%200.325%200.535%200.501%203.12%203.15%205.15%208.5%204%2012.51zm-5.3-47.91c-6.276-5.17-12.517-10.397-18.72-15.677%2010.33%203.864%2019.943%207.126%2028.241%209.773l-9.52%205.91z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E');
}
.icon-certificate-dims {
  width: 300px;
  height: 300px;
}
.icon-codeSchool,
.icon-codeSchool\:regular {
  @extend %icon;
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20id%3D%22codeSchool-Layer_1%22%20xml%3Aspace%3D%22preserve%22%20height%3D%22300%22%20viewBox%3D%220%200%20512%20512%22%20width%3D%22300%22%20version%3D%221.1%22%20enable-background%3D%22new%200%200%20512%20512%22%3E%3Cg%20fill%3D%22%23fff%22%3E%3Cpath%20d%3D%22m257.22%2072.5c-101.51%200-183.8%2081.862-183.8%20182.83%200%20100.99%2082.292%20182.84%20183.8%20182.84%20101.49%200%20183.79-81.853%20183.79-182.84%200-100.97-82.3-182.83-183.79-182.83zm0%20336.66c-85.41%200-154.64-68.86-154.64-153.83%200-84.951%2069.232-153.82%20154.64-153.82%2085.403%200%20154.64%2068.873%20154.64%20153.82-0.01%2084.97-69.24%20153.83-154.64%20153.83z%22%2F%3E%3Cpath%20d%3D%22m372.38%20259.82l0.086-0.076v-0.017c2.4-2.487%202.414-6.394-0.013-8.791l-90.218-89.749c-1.217-1.214-2.813-1.839-4.408-1.839-1.622%200-3.218%200.625-4.441%201.839l-0.094%200.12c-1.184%201.167-1.848%202.736-1.848%204.398v24.828c0%201.649%200.664%203.232%201.848%204.392l60.688%2060.402-60.688%2060.399c-1.184%201.17-1.848%202.753-1.848%204.401v24.846c0%201.619%200.664%203.231%201.848%204.388l0.094%200.12c1.17%201.157%202.772%201.822%204.441%201.822%201.656%200%203.238-0.665%204.408-1.822l90.14-89.66z%22%2F%3E%3Cpath%20d%3D%22m144.23%20259.82l-0.073-0.076v-0.017c-2.407-2.487-2.407-6.394%200-8.791l90.218-89.749c1.236-1.214%202.832-1.839%204.428-1.839%201.609%200%203.198%200.625%204.415%201.839l0.127%200.12c1.177%201.167%201.842%202.736%201.842%204.398v24.828c0%201.649-0.665%203.232-1.842%204.392l-60.715%2060.402%2060.715%2060.399c1.177%201.17%201.842%202.753%201.842%204.401v24.846c0%201.619-0.665%203.231-1.842%204.388l-0.127%200.12c-1.157%201.157-2.746%201.822-4.415%201.822-1.655%200-3.244-0.665-4.428-1.822l-90.16-89.66z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
}
.icon-codeSchool-dims {
  width: 300px;
  height: 300px;
}
.icon-education,
.icon-education\:regular {
  @extend %icon;
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20id%3D%22education-Layer_1%22%20xml%3Aspace%3D%22preserve%22%20viewBox%3D%220%200%2024%2024%22%20version%3D%221.0%22%20enable-background%3D%22new%200%200%2024%2024%22%20width%3D%2232%22%20height%3D%2232%22%3E%3Cg%20fill%3D%22%23fff%22%3E%3Cpolygon%20points%3D%2212%203%201%209%2012%2015%2023%209%22%2F%3E%3Cpolygon%20points%3D%2219%2012.8%2012%2017%205%2012.8%205%2017.2%2012%2021%2019%2017.2%22%2F%3E%3Crect%20y%3D%229%22%20width%3D%222%22%20height%3D%228%22%20x%3D%2221%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
}
.icon-education-dims {
  width: 32px;
  height: 32px;
}
.icon-expertise,
.icon-expertise\:regular {
  @extend %icon;
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20id%3D%22expertise-Capa_1%22%20style%3D%22enable-background%3Anew%200%200%2030.318%2030.318%22%20xml%3Aspace%3D%22preserve%22%20viewBox%3D%220%200%2030.318%2030.318%22%20version%3D%221.1%22%20y%3D%220px%22%20x%3D%220px%22%20width%3D%2232%22%20height%3D%2232%22%3E%09%3Cpath%20d%3D%22m29.062%2012.509v-1.83l-0.137-0.508c-0.039-0.061-0.65-1.125-1.873-2.219-0.928-0.83-2.252-1.682-3.928-2.041v-3.361c-7.361%200.533-8.131%206.312-8.131%206.312v0.053c-0.006%200.006-0.014%200.014-0.02%200.021-0.264-0.307-0.584-0.643-0.963-0.984-1.221-1.09-3.109-2.223-5.594-2.223-2.488%200-4.357%201.137-5.553%202.23-1.197%201.099-1.783%202.169-1.818%202.23l-0.129%200.49v1.83h-0.916v15.26h30.318v-15.26h-1.256zm-23.634%2012.164c0.811-0.479%201.797-0.828%202.99-0.83%201.188%200%202.189%200.35%203.018%200.83h-6.008zm8.533-0.697c-1.217-1.074-3.088-2.182-5.543-2.182h-0.004c-2.416%200-4.246%201.072-5.439%202.133v-12.957c0.211-0.322%200.67-0.959%201.365-1.572%200.957-0.84%202.289-1.611%204.078-1.611%201.84%200%203.24%200.828%204.223%201.701%200.488%200.434%200.867%200.875%201.113%201.201%200.086%200.111%200.154%200.215%200.207%200.293v12.994zm7.5-19.639v15.368s-2.771-0.494-5.418%201.908v-11.887s0.994-4.504%205.418-5.389zm-2.99%2020.336c0.814-0.479%201.801-0.828%202.988-0.83%201.189%200%202.193%200.35%203.023%200.83h-6.011zm8.537-0.697c-1.223-1.078-3.09-2.182-5.549-2.182-2.414-0.002-4.246%201.072-5.443%202.133v-0.082c2.302-3.127%207.109-2.295%207.109-2.295v-13.52c1.045%200.311%201.9%200.869%202.564%201.457%200.49%200.434%200.859%200.875%201.105%201.201%200.088%200.111%200.158%200.215%200.213%200.293v12.995h0.001z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E');
}
.icon-expertise-dims {
  width: 32px;
  height: 32px;
}
.icon-github,
.icon-github\:regular {
  @extend %icon;
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20id%3D%22github-Layer_1%22%20xml%3Aspace%3D%22preserve%22%20height%3D%22100%22%20viewBox%3D%220%200%20100%20100%22%20width%3D%22100%22%20version%3D%221.1%22%20enable-background%3D%22new%200%200%20100%20100%22%3E%3Cpath%20d%3D%22m70.709%2015.029c1.17%202.657%201.928%207.07%200.797%2010.301%204.625%203.949%206.215%2013.549%203.982%2021.394%206.592%200.503%2014.444-0.242%2019.512%201.781-4.738-0.609-11.209-1.804-17.32-1.388-1.157%200.079-2.873-0.044-2.789%201.585%207.074%200.556%2014.104%201.16%2019.912%202.973-5.761-0.94-12.754-2.374-19.912-2.574-2.957%205.835-8.908%208.704-17.123%209.308%200.883%201.921%202.574%202.652%202.987%205.744%200.616%204.617-0.964%2011.381%200.595%2014.459%200.748%201.475%201.967%201.514%202.789%202.774-2.012%202.382-7-0.267-7.568-2.774-0.973-4.295%201.482-10.954-1.192-13.865%200.188%204.684-1.108%2011.264%200.199%2015.449%200.515%201.646%202.002%202.281%201.593%203.765-9.352%200.95-5.443-12.104-6.972-19.81-1.411%200.101-0.791%202.113-0.796%202.973-0.04%207.523%201.54%2017.844-6.57%2016.837-0.237-1.581%201.088-2.119%201.593-3.563%201.479-4.233-0.277-10.541%200.401-15.65-3.095%202.333%200.325%2010.48-1.593%2014.656-1.105%202.404-4.666%203.451-7.367%202.376%200.352-1.788%202.2-1.5%202.984-3.167%201.096-2.325%200.008-5.674%200.399-9.111-5.729%201.143-10.173-0.166-12.348-3.764-0.973-1.615-1.214-3.521-2.39-4.951-1.17-1.432-3.04-1.625-3.582-3.564%207.095-1.707%207.367%207.303%2013.739%207.525%201.954%200.07%202.97-0.564%204.778-0.989%200.506-2.272%201.589-3.966%203.186-5.153-7.93-1.086-14.478-3.556-17.523-9.506-7.208%200.355-13.804%201.317-19.913%202.771%205.545-2.014%2012.384-2.736%2019.715-2.973-0.432-2.596-4.219-1.882-6.57-1.782-4.369%200.194-9.869%200.737-13.342%201.389%205.034-1.795%2012.098-1.571%2018.918-1.585-2.086-6.54-1.363-16.929%203.186-20.798-1.289-3.249-0.889-8.563%200.796-11.093%205.079%200.228%208.159%202.443%2011.35%204.557%203.957-1.125%208.118-1.685%2013.54-1.387%202.28%200.126%204.651%201.151%206.369%200.989%201.685-0.158%203.542-2.049%205.178-2.771%202.131-0.941%203.934-1.3%206.372-1.388%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E');
}
.icon-github-dims {
  width: 100px;
  height: 100px;
}
.icon-location,
.icon-location\:regular {
  @extend %icon;
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20id%3D%22location-Layer_1%22%20style%3D%22enable-background%3Anew%200%200%2016%2016%22%20xml%3Aspace%3D%22preserve%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20width%3D%2216%22%20version%3D%221.1%22%3E%3Cpath%20d%3D%22m8%200c-3.313%200-6%202.687-6%206%200%203.854%204.321%208.663%205%209.398%200.281%200.305%200.516%200.602%201%200.602s0.719-0.297%201-0.602c0.679-0.735%205-5.544%205-9.398%200-3.313-2.687-6-6-6zm0%2010c-2.209%200-4-1.791-4-4s1.791-4%204-4%204%201.791%204%204-1.791%204-4%204zm0-6c-1.104%200-2%200.896-2%202s0.896%202%202%202%202-0.896%202-2-0.896-2-2-2z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E');
}
.icon-location-dims {
  width: 16px;
  height: 16px;
}
.icon-mail,
.icon-mail\:regular {
  @extend %icon;
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20id%3D%22mail-Layer_1%22%20style%3D%22enable-background%3Anew%200%200%2016%2016%22%20xml%3Aspace%3D%22preserve%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20width%3D%2216%22%20version%3D%221.1%22%3E%3Cpath%20d%3D%22m8%2010c-0.266%200-0.5-0.094-1-0.336l-7-3.664v7c0%200.55%200.45%201%201%201h14c0.55%200%201-0.45%201-1v-7l-7%203.664c-0.5%200.242-0.734%200.336-1%200.336zm7-8h-14c-0.55%200-1%200.45-1%201v0.758l8%204.205%208-4.205v-0.758c0-0.55-0.45-1-1-1z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E');
}
.icon-mail-dims {
  width: 16px;
  height: 16px;
}
.icon-phone,
.icon-phone\:regular {
  @extend %icon;
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20id%3D%22phone-Livello_1%22%20xml%3Aspace%3D%22preserve%22%20height%3D%22142%22%20viewBox%3D%220%200%20141.732%20141.732%22%20width%3D%22142%22%20version%3D%221.1%22%20enable-background%3D%22new%200%200%20141.732%20141.732%22%3E%3Cg%20id%3D%22phone-Livello_12%22%3E%3Cpath%20d%3D%22m108.22%20118.23h-66.22v-107.34h66.22v107.34zm-38.258%2010.89c0-2.951%202.37-5.345%205.294-5.345%202.925%200%205.294%202.394%205.294%205.345%200%202.95-2.369%205.348-5.294%205.348-2.924%200-5.294-2.39-5.294-5.35m42.708%204.86h0.009v-128.67h-0.002c-0.02-2.937-2.4-5.314-5.34-5.314-0.021%200-0.038%200.002-0.057%200.002v-0.002h-64.386c-2.938%200.002-5.319%202.379-5.335%205.314h-0.001v128.66h0.008c-0.002%200.056-0.008%200.111-0.008%200.169%200%202.878%202.419%205.212%205.404%205.212%200.044%200%200.087-0.006%200.131-0.007v0.007h64.316c2.904%200%205.267-2.333%205.267-5.212%200-0.05-0.01-0.11-0.01-0.16%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
}
.icon-phone-dims {
  width: 142px;
  height: 142px;
}
.icon-pingPong,
.icon-pingPong\:regular {
  @extend %icon;
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20id%3D%22pingPong-Layer_1%22%20xml%3Aspace%3D%22preserve%22%20viewBox%3D%220%200%2024%2024%22%20version%3D%221.0%22%20enable-background%3D%22new%200%200%2024%2024%22%20width%3D%2232%22%20height%3D%2232%22%3E%3Ccircle%20cy%3D%224%22%20cx%3D%224%22%20r%3D%222%22%20fill%3D%22%23fff%22%2F%3E%3Cpath%20d%3D%22m5.7%2010.6l7.7%207.7c-0.9%200-1.9-0.2-2.8-0.5-0.4-0.1-1.8-0.3-2.4%200.2-1.3%201.3-2.4%203-3%203.6s-1.5%200.4-2.4-0.5c-0.8-0.8-1.1-1.8-0.5-2.4%200.7-0.5%202.4-1.7%203.7-2.9%200.6-0.6%200.3-2.2%200.2-2.4-0.4-0.9-0.5-1.9-0.5-2.8zm14-6.3c-3.7-3.8-8.7-2.4-11.8%200.6-1.1%201.1-1.9%202.5-2.1%204l9.3%209.3c1.5-0.3%202.9-1%204-2.1%203-3.1%204.4-8.1%200.6-11.8z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E');
}
.icon-pingPong-dims {
  width: 32px;
  height: 32px;
}
.icon-skype,
.icon-skype\:regular {
  @extend %icon;
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20id%3D%22skype-Layer_1%22%20xml%3Aspace%3D%22preserve%22%20height%3D%2257%22%20viewBox%3D%220%200%2056.693%2056.693%22%20width%3D%2257%22%20version%3D%221.1%22%20enable-background%3D%22new%200%200%2056.693%2056.693%22%3E%3Cpath%20d%3D%22m51.497%2034.785c0.354-1.624%200.539-3.303%200.539-5.029%200-12.938-10.488-23.427-23.428-23.427-1.365%200-2.703%200.119-4.008%200.342-2.092-1.32-4.571-2.087-7.227-2.087-7.505%200-13.588%206.084-13.588%2013.59%200%202.507%200.683%204.854%201.867%206.871-0.312%201.521-0.474%203.098-0.474%204.711%200%2012.941%2010.488%2023.43%2023.429%2023.43%201.467%200%202.898-0.135%204.289-0.392%201.914%201.027%204.1%201.611%206.424%201.611%207.504%200%2013.586-6.083%2013.586-13.587%200.001-2.168-0.507-4.214-1.409-6.033zm-10.873%206.168c-1.082%201.533-2.684%202.749-4.76%203.611-2.055%200.854-4.518%201.288-7.32%201.288-3.365%200-6.188-0.593-8.389-1.761-1.575-0.849-2.872-1.999-3.858-3.424-0.994-1.433-1.498-2.857-1.498-4.232%200-0.857%200.328-1.602%200.976-2.211%200.642-0.604%201.464-0.91%202.446-0.91%200.805%200%201.5%200.24%202.064%200.716%200.539%200.459%201%201.136%201.373%202.009%200.416%200.953%200.867%201.756%201.346%202.385%200.461%200.61%201.121%201.121%201.965%201.521%200.85%200.401%201.996%200.606%203.402%200.606%201.938%200%203.527-0.413%204.721-1.229%201.168-0.796%201.732-1.753%201.732-2.923%200-0.925-0.295-1.65-0.902-2.223-0.641-0.597-1.48-1.058-2.502-1.379-1.064-0.331-2.51-0.691-4.297-1.066-2.434-0.52-4.498-1.138-6.141-1.835-1.682-0.716-3.036-1.708-4.026-2.946-1.005-1.261-1.516-2.837-1.516-4.695%200-1.77%200.535-3.367%201.591-4.741%201.047-1.367%202.578-2.431%204.548-3.157%201.943-0.719%204.256-1.084%206.875-1.084%202.092%200%203.93%200.244%205.467%200.719%201.545%200.48%202.846%201.13%203.869%201.929%201.029%200.806%201.797%201.665%202.279%202.561%200.484%200.902%200.73%201.802%200.73%202.671%200%200.838-0.322%201.599-0.961%202.264-0.643%200.666-1.451%201.004-2.406%201.004-0.867%200-1.547-0.213-2.018-0.627-0.438-0.391-0.893-0.995-1.398-1.864-0.584-1.108-1.291-1.984-2.102-2.601-0.789-0.601-2.105-0.902-3.914-0.902-1.678%200-3.045%200.336-4.059%201.003-0.977%200.639-1.453%201.374-1.453%202.245%200%200.535%200.154%200.979%200.471%201.363%200.332%200.409%200.803%200.763%201.395%201.062%200.615%200.311%201.252%200.556%201.887%200.73%200.65%200.182%201.742%200.449%203.24%200.795%201.896%200.408%203.641%200.863%205.18%201.357%201.562%200.5%202.908%201.113%204.01%201.83%201.121%200.73%202.01%201.667%202.641%202.789%200.633%201.125%200.953%202.513%200.953%204.127%200%201.926-0.553%203.688-1.641%205.225z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E');
}
.icon-skype-dims {
  width: 57px;
  height: 57px;
}
.icon-twitter,
.icon-twitter\:regular {
  @extend %icon;
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20id%3D%22twitter-Layer_1%22%20xml%3Aspace%3D%22preserve%22%20height%3D%2257%22%20viewBox%3D%220%200%2056.693%2056.693%22%20width%3D%2257%22%20version%3D%221.1%22%20enable-background%3D%22new%200%200%2056.693%2056.693%22%3E%3Cpath%20d%3D%22m52.837%2015.065c-1.811%200.805-3.76%201.348-5.805%201.591%202.088-1.25%203.689-3.23%204.444-5.592-1.953%201.159-4.115%202-6.418%202.454-1.843-1.964-4.47-3.192-7.377-3.192-5.581%200-10.106%204.525-10.106%2010.107%200%200.791%200.089%201.562%200.262%202.303-8.4-0.422-15.848-4.445-20.833-10.56-0.87%201.492-1.368%203.228-1.368%205.082%200%203.506%201.784%206.6%204.496%208.412-1.656-0.053-3.215-0.508-4.578-1.265-0.001%200.042-0.001%200.085-0.001%200.128%200%204.896%203.484%208.98%208.108%209.91-0.848%200.23-1.741%200.354-2.663%200.354-0.652%200-1.285-0.063-1.902-0.182%201.287%204.015%205.019%206.938%209.441%207.019-3.459%202.711-7.816%204.327-12.552%204.327-0.815%200-1.62-0.048-2.411-0.142%204.474%202.869%209.786%204.541%2015.493%204.541%2018.591%200%2028.756-15.4%2028.756-28.756%200-0.438-0.009-0.875-0.028-1.309%201.974-1.422%203.688-3.203%205.042-5.23z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E');
}
.icon-twitter-dims {
  width: 57px;
  height: 57px;
}
.icon-xing,
.icon-xing\:regular {
  @extend %icon;
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20id%3D%22xing-Layer_1%22%20xml%3Aspace%3D%22preserve%22%20height%3D%22100%22%20viewBox%3D%220%200%20100%20100%22%20width%3D%22100%22%20version%3D%221.1%22%20enable-background%3D%22new%200%200%20100%20100%22%3E%3Cpath%20d%3D%22m60.364%2095l-20.128-35.283%2031.239-54.717h21.025l-31.238%2054.717%2020.129%2035.283h-21.027zm-33.042-27.213l15.617-25.711-11.712-20.63h-19.823l11.713%2020.63-15.617%2025.711h19.822z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E');
}
.icon-xing-dims {
  width: 100px;
  height: 100px;
}