/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";
/* cyrillic-ext */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);

/*Colors*/
$white: #ffffff;
$darkGrey: #2f2f2f;
$beige: #fbf7e0;
$turquoise: #00b2af;
$lightGrey: #7c7a79; /*-> h2, p(tarih)*/
$darkGreyText: #363634; /*-> h3, p*/


body {
	font: 100%/1.4 'Source Sans Pro', sans-serif;
	background-color: #eae8e7;
	margin: 0;
	padding: 0;
	color: $darkGreyText;
}

/* ~~ this fixed width container surrounds all other elements ~~ */
.container {
	width: 1140px !important;
  max-width: none !important;
	margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout */
}

/*Header*/
header {
  border-bottom: 2px solid $turquoise;
  background: $darkGrey;
  width: 100%;
  overflow: hidden;
}

.site-logo {
  float: left;
  display: inline-block;
  margin: 0;
  width: 300px;
  height: 80px;
  font-size: 100%;
  vertical-align: baseline;
  position: relative;

  a {
    top: 15px;
    left: 15px;
    line-height: 1;
    color: #333;
    text-decoration: none !important;
    letter-spacing: 1px;
    position:absolute;
    img {
      width: 230px;
      height: auto;
    }
    span {
      font-size: 1.67em;
      color: $white;
      display: block;
      border-top: 1px solid $white;
      margin: 6px 0 0px;
      padding-top: 4px;
    }
  }
}

.primary-menu {
  margin-left: 0;
  margin-bottom: 0;
  position: relative;
  .primary-menu-link {
    &:last-child {
      a:after {
        content: "";
      }
    }
  }
}

.primary-menu-link {
  display: inline-block;
  a {
    padding: 32px 25px 25px;
    color: $white;
    display: inline-block;
    font-size: 17px;
    font-weight: 700;
    &:after {
      content: "/";
      position: absolute;
      font-size: 20px;
      top: 28px;
      margin-left: 19px;
    }
  }
}
