/******************
    User custom CSS
    ---------------

    In this file you can add your own custom CSS
    It will be loaded last, so you can override any other property.
    Also, it will never be updated. So if you inheritate a core template and just add here some CSS, you'll still benefit of all the updates
*/

/* General Layout */
body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 14px;
  line-height: 1.7;
  color: #000;
  background-color: #FFF;
}
#outerwrapper {
  margin-top: 0px;
  margin-bottom: 0px;
  float: none;
  clear: both;
  background-color: #FFF;
}
#outerwrapper #outerwrapper,
#outerwrapper #outerwrapper .container {
  padding: 0;
  width: auto;
}
#outerframeContainer {
  padding: 0;
  width: auto;
}
#dynamicReloadContainer {
	padding: 0;
}
@media only screen and (max-width: 768px) {
  #outerwrapper {
    margin-top: 0;
    margin-bottom: 0;
  }  
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    /*width: 970px;*/
    width: 998px;
  }
}
@media (min-width: 1200px) {
  .container {
    /*width: 1170px;*/
    width: 998px;
  }
}
hr {
  margin: 10px 0;
border-top: 1px solid #e1e2e5;
}
a,
a:link {
  color: #000;
  text-decoration: none;
  border-bottom: 2px solid #00a9e0;
  padding-bottom: 1px;
}
a:hover,
a:focus {
  color: #000;
  background: #a6e1f4;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
img {
    max-width: 100%;
}

/* Navbar */
.header-wrapper {
  margin-bottom: 15px;
}
.navbar-toggle {
	float: none;
  margin-right: 0;
}
.navbar-collapse {
	padding: 0;
}
.navbar {
	min-height: 0;
	margin: 0;
	text-align: center;
}
.navbar-header {
  float: none !important;
  padding: 15px 0;
}
.navbar-brand {
  padding: 15px 0;
  min-height: initial;
}
h1.surveyname {
  text-align: center;
  font-weight: 700;
  height: auto;
  line-height: 130%;
  font-size: 19px;
  margin: 0;
}
@media only screen and (max-width: 768px) {
  .logo-wrapper,
  h1.surveyname {
    margin-bottom: 15px;
    line-height: 90%;
  }
}
.navbar-nav {
	float: none;
}
.navbar-default {
	background-color: transparent;
	border: none;
}
.navbar-action-link {
	padding: 0;
}
.navbar-collapse.in {
	overflow-y: visible;
}
.navbar-item-left {
	text-align: left;
	padding-left: 0;
  margin: 15px 0;
}
.navbar-item-middle {
	text-align: center;
  margin: 15px 0;
}
.navbar-item-right {
	text-align: right;
	padding-right: 0;
  margin: 15px 0;
}
.navbar-logo-left {
  padding-left: 0;
}
.navbar-logo-middle {
  padding-right: 0;
  text-align: center;
}
.navbar-logo-right {
  padding-right: 0;
  text-align: right;
}
.logo-bar {
  margin-top: 0;
  padding: 30px 0;
  margin: 0 auto !important;
  border-bottom: 1px solid #e1e2e5;
  margin-bottom: 30px !important;
}

@media only screen and (max-width: 768px) {
	.navbar-collapse {
		padding: 0 15px;
	}
  .navbar-logo-left {
    padding: 0;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
  }
  .navbar-logo-middle {
    text-align: center;
    padding: 0;
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .navbar-logo-right {
    text-align: center;
    padding: 0;
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .navbar-item-left {
    text-align: center;
    margin: 6px 0;
    padding: 0;
  }
  .navbar-item-middle {
    text-align: center;
    margin: 6px 0;
    padding: 0;
  }
  .navbar-item-right {
    text-align: center;
    margin: 6px 0;
    padding: 0;
  }
  .logo-bar {
    padding: 0;
  }
}

/* Language Changer */
.language-wrapper {
  margin: 15px 0;
  text-align: right;
}

/* Progress bar */
.progress-wrapper {
  padding: 0;
}
.progress {
  background-color: #f3f3f4;
  margin-bottom: 0;
  border-radius: 0;
}
.progress-bar {
  background-color: #000;
}

/* Welcome Page */
.text-info {
  color: #000;
}
.survey-welcome {
  margin-top: 15px;
}
.question-count-text {
  margin-top: 15px;
}

/* Privacy */
.privacy {
  margin-top: 15px;
  padding: 15px 0;
  margin: 15px 1px;
  border: 1px solid #e1e2e5;
  background-color: #fff;
}
p.ls-privacy-body {
  margin: 15px 0 0 0;
  font-style: italic;
}

/* Group layout */
.group-outer-container {
	display: block;
}
.group-title {
  text-align: center;
  font-weight: normal;
  font-size: 140%;
  margin-top: 0;
  margin-bottom: 5px;
}
.group-description {
  margin-top: 0;
  text-align: center;
}

/* Question layout */
.question-number, .question-code {
	float: none;
	margin: 0;
  color: #FFF;
}
.question-container {
    background-color: #fff;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border: 0 !important;
}
.input-error.question-container {
    border: 1px solid #a94442;
}
.question-title-container {
    padding: 8px 15px;
    background-color: #59c7eb;
    color: #000;
    font-weight: 600;
    font-size: 120%;
}
.question-text {
  font-weight: 400;
}
.question-valid-container {
  padding-left: 0;
  padding-right: 0;
  font-style: italic;
  font-size: 80%;
}
.answer-container {
    border: 0;
    border-left: 1px solid #e1e2e5;
    border-right: 1px solid #e1e2e5;
    border-bottom: 1px solid #e1e2e5;
    padding: 15px;
}
.question-number,
.question-code {
  font-weight: normal;
}
.ls-answers tbody .answertext {
  text-align: left;
}
tr.ls-odd,
.array-flexible-column tr.answers-list:nth-child(even) {
  background-color: #e1e2e5 !important;
}
.table-hover > tbody > tr:hover,
tr.answers-list:hover,
.array-flexible-column tr.answers-list:hover {
    background-color: #59c7eb;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border: 0;
  padding: 4px 8px;
}
.table-bordered {
  border: 0;
}
.asterisk { 
    display:none; 
}

.asterisk small {
  font-size: 90% !important;
  vertical-align: top;  
}
.input-error .asterisk {
  font-size: 90% !important;
  margin-top: 0;  
}
.question-help-container {
  font-size: 90%;
  margin-top: 15px;
  color: #888;
  padding: 0;
}
.numeric-multi input.numeric,
.multiple-short-txt input.form-control,
.multiple-short-txt textarea.form-control {
  margin-bottom: 15px;
}
.ls-input-group-extra {
  vertical-align: top;
  padding: 1rem 1.2rem;
}
.array-flexible-row .ls-answers .answertextright {
  text-align: right;
}

/* Navigator */
#navigator-container {
  margin-bottom: 15px;
  padding-bottom: 0;
  margin-top: 30px;
}
.btn {
  border-radius: 0;
  font-size: 110%;
  border-radius: 0px;
  font-weight: 700;
}
a.btn-primary,
a.btn-default {
  color: #000;
  border: 0;
  padding: 10px 16px !important;
}
.btn-primary {
  color: #000;
  background-color: #59c7eb;
  border-color: #59c7eb;
}
.btn-primary:hover {
  color: #000;
  background-color: #00a9e0;
  border-color: #00a9e0; 
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #000;
  background-color: #00a9e0;
  border-color: #00a9e0;
}
.input-group-addon.btn-primary {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.btn-default {
  color: #000;
  border-color: #f3f3f4;
  background-color: #f3f3f4;
}
.btn-default:hover,
.btn-default:active,
.btn-default:focus {
  color: #000;
  border-color: #e1e2e5;
  background-color: #e1e2e5;
}

/* Radios and checkboxes */

/* radio buttons */
.radio-item label::before {
  border: 1px solid #ccc;
  background-color: #FFF;
}
.radio-item label::after {
  background-color: #000;
}
/* checkboxes */
.checkbox-item label::before {
  border: 1px solid #ccc;
  background-color: #FFF;
}
.checkbox-item label::after {
  color: #000;
  background-color: transparent;
}


/* Ranking question */
.sortable-choice {
  padding: 5px;
}
.sortable-choice .ls-choice.sortable-item {
  background-color: #f3f3f4;
  border: 1px solid #f3f3f4;
  margin-bottom: 5px;
}
.sortable-rank {
  padding: 5px;
}
.sortable-rank .ls-choice.sortable-item {
  background-color: #000;
  border: 1px solid #000;
  margin-bottom: 5px;
  color: #fff;
}

/* Gender question */
.gender-button .btn-primary {
  color: #000;
  background-color: #eee;
  border-color: #eee;
  border: 2px solid #FFF;
}
.gender-button .btn-primary:hover,
.gender-button .btn-primary:focus,
.gender-button .btn-primary.active,
.gender-button .btn-primary.active:hover,
.gender-button .btn-primary.active:focus {
  color: #FFF;
  background-color: #999;
  border-color: #999;
  border: 2px solid #fff;
}

/* Yes No question */
.yes-no .btn-primary {
  color: #000;
  background-color: #eee;
  border-color: #eee;
  border: 2px solid #FFF;
}
.yes-no .btn-primary:hover,
.yes-no .btn-primary:focus,
.yes-no .btn-primary.active,
.yes-no .btn-primary.active:hover,
.yes-no .btn-primary.active:focus {
  color: #FFF;
  background-color: #999;
  border-color: #999;
  border: 2px solid #FFF;
}

/* 5pt choice */
.choice-5-pt-radio li.radio-item {
  margin-right: 15px;
}

/* Slider question */
.slider-handle {
    background-color: #59c7eb;
    background-image: -webkit-linear-gradient(top, #59c7eb 0%, #00a9e0 100%);
    background-image: -o-linear-gradient(top, #59c7eb 0%, #00a9e0 100%);
    background-image: linear-gradient(to bottom, #59c7eb 0%, #00a9e0 100%);
}
.tooltip-inner {
  background-color: #000;
}
.tooltip.top .tooltip-arrow {
     border-top-color: #000;
}
.slider-selection {
    background-image: -webkit-linear-gradient(top, #eee 0%, #ccc 100%);
    background-image: -o-linear-gradient(top, #eee 0%, #ccc 100%);
    background-image: linear-gradient(to bottom, #eee 0%, #ccc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eee', endColorstr='#ccc', GradientType=0);
}

/* Print Page */
.url-wrapper-survey-print {
  margin: 15px 0;
}
.question-container-printanswers {
  border-bottom: 1px solid #ccc;
}

/* Footer */
footer .copyright {
	text-align: center;
  margin: 20px 0;
  font-size: 90%;
}


div.yes-no .btn-group label,
.gender .btn-group label {
    padding-top: 10px;
}

.completed-wrapper {
  margin-bottom: 45px;
  min-height: 200px;
 }

 /* Datepicker */

 .datepicker .active,
 .datepicker .today {
  background-color: #000 !important;
  background: #000 !important;
  color: #FFF !important;
 }

/* Index */
.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
  background-color: #000;
  color: #FFF;
}
.dropdown-menu > li > a {
  border: 0 !important;  
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: #ccc;
}

/* Fix array alignment */
td.answer-item.radio-item {
    vertical-align: middle;
}

/* 2018-12-02 Marcel: Fix captcha width */
.captcha-image
{
    width: auto;
}


/* 2018-11-30 Marcel: Hide radios, mark selected items, add border */
.osrating .radio-label:before,
.osrating .radio-label:after
{
    display: none;
}

.osrating li.radio-item,
.osrating li.radio-item .radio-label
{
    padding: 0px;
}

.osrating .radio-list .col-sm-1 {
    width: 70px !important;
}

.osrating .radio-list .radio-label {
    
    display: table;
    font-size: 200%;
    text-align: center;
    border: 2px solid #000;
    width: 51px !important;
    height: 51px !important;
    margin-top: 0px;
    margin-left: 0px;
}

.osrating .radio-list .radio-selected {
    font-weight: bold;
    color: white;
    border-color: red;
    background-color: red;
}

.osrating .radio-selected img
{
    border: 3px solid #000;
}

.osrating .answer-container .ls-answers
{
    padding: 25px;
}

.snmainimage
{
    width: 547px;
    max-width: 80%;
}

@media only screen and (max-width: 768px) {
    .osrating .radio-list .col-xs-12 {
        width: 100% !important;  
    }
    .osrating .radio-list .radio-label {
        display: table;
        font-size: 200%;
        text-align: center;
        border: 2px solid #000;
        width: 100% !important;
        margin: 0 0 1px 0;
    }
}

.navbar-brand {
  display: none;
}

/* Ausblenden Sprachwechsler */
.form-change-lang {
  display: none;
}

/* Special styles for instruction texts */
.instructions
{
    color: #ff1a1a;
    font-style: italic;
}
.logo-middle {
  cursor: pointer;
}
